.background {
    background-color: lightgrey;
}

.main {
    outline: 5px solid black;
    padding: 5px;
    border-radius: 2px;
    margin-bottom: 10px;
}

.Title {
    text-align: center;
    font-size: 35px;
    width: 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.Location {
    overflow: hidden;
    padding-top: 80%;
    position: relative;
}

.Location iframe{
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
