* {
  box-sizing: border-box;
}

/*image slider*/
.slideshow-container {
  position: relative;
  margin: auto;
  float: left;
}

.mySlides {
  display: none;
}

.mySlides img {
  width: 100%;
  max-width: 100%;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  width: auto;
  color: white;
  font-weight: bold;
  transition: 0.6s ease;
  user-select: none;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/*description*/
.information {
  display: block;
}

.range-square {
  display: inline-block;
  border: 1px dashed black;
}

.svgFile {
  display: flex;
  align-items: center;
}

.getName {
  display: flex;
  justify-content: left;
}

/*calendar*/
.calendar-container {
  flex-direction: column;
  align-items: center;
}

.calendar-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
}

.calendar-title {
  margin: 0;
}

.calendar-row {
  display: flex;
  flex-basis: calc(100% / 7);
  flex-direction: row;
}

.prev-month,
.next-month {
  background: none;
  border: none;
  cursor: pointer;
}

.prev-month:hover,
.next-month:hover {
  background-color: #f2f2f2;
}

.calendar-body {
  display: flex;
  flex-wrap: wrap;
}

.calendar-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  cursor: pointer;
}

.calendar-cell:hover {
  background-color: #f2f2f2;
}

.calendar-cell.disabled {
  color: black;
  cursor: default;
  border: 0px solid black;
  cursor: not-allowed;
  pointer-events: none;
}

.calendar-cell.active {
  color: #fff;
  background-color: #0071c5;
}

/*Room reserve button*/
.reserve {
  display: block;
  font-size: 30px;
  background-color: #0071c5;
  border-radius: 3px;
  border: rgba(0, 0, 0, 0.8);
  color: white;
  margin: 0 auto;
}

@media (max-width: 375px){
  /*image slider*/
  .slideshow-container {
    width: 100%;
  }

  .prev,
  .next {
    top: 50%;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-size: 18px;
    border-radius: 0 3px 3px 0;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /*description*/
  .information {
    display: block;
    font-size: 20px;
    margin-left: 5px;
    width: 100%;
  }

  .information table {
    width: 100%;
  }

  .information td {
    vertical-align: middle;
  }

  .range-square {
    width: 30px;
    height: 30px;
    border-radius: 5px;
  }

  .svgFile {
    height: 40px;
    width: 30px;

  }

  .getName {
    font-size: 20px;
    margin: 3%;
  }

  .getName input {
    margin-left: 5%;
    border-radius: 5px;
  }

  /*calendar*/
  .calendar-container {
    width: 100%;
  }

  .calendar-input {
    margin: 10px;
    font-size: 20px;
  }

  .date-input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 200px;
    text-align: center;
    font-size: 16px;
  }

  .calendar {
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    max-width: 350px;
  }

  .calendar-header {
    padding: 10px;
    font-size: 20px;
  }

  .calendar-title {
    margin: 0;
  }

  .prev-month,
  .next-month {
    font-size: 24px;
  }

  .calendar-cell {
    padding: 10px;
    margin: 3px;
    font-size: 20px;
    border: 1px solid black;
    width: 40px;
    height: 40px;
    border-radius: 5px;
  }

  /*Room reserve button*/
  .reserve {
    font-size: 30px;
    border-radius: 3px;
    margin: 0 auto;
    width: 90%;
  }
}

@media (max-width: 320px){
  .calendar {
    max-width: 300px;
  }

  .calendar-cell {
    font-size: 16px;
    width: 35px;
    height: 35px;
  }
}