.background {
  background-color: lightgrey;
}

.price-range-feature {
  display: flex;
  align-items: center;
}

.box {
  background-color: white;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  display: flex;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.text {
  width: 50%;
  height: 100%;
}

.text h3 {
  margin: 3%;
  margin-bottom: 0%;
  width: max-content;
}

.base_price {
  width: max-content;
}

.full_price {
  margin: 0% 0% 3% 3%;
  width: max-content;
}

.redirect-link {
  border: 5px;
  margin: 3%;
  margin-bottom: 0%;
  border-color: rgb(137, 169, 255);
  background-color: rgb(137, 169, 255);
  border-radius: 2px;
  color: black;
  text-decoration: none;
  width: max-content;
}

.images-container {
  width: 50%;
  height: 100%;
  display: flex;
  overflow: hidden;
  background-size: cover;
}

.Location {
  overflow: hidden;
  padding-top: 80%;
  position: relative;
}

.Location iframe {
  border: 0;
  left: 0;
  position: absolute;
  top: 0;
  border-radius: 5px;
}

@media (max-width: 1024px) {
  .price-range-feature {
    font-size: 30px;
    justify-content: right;
  }

  .box {
    width: 48%;
    height: 220px;
    margin: 10px;
    border-radius: 7px;
  }

  .text h3 {
    font-size: 35px;
  }

  .base_price {
    margin: 0% 0% 5% 3%;
    font-size: 35px;
  }

  .full_price {
    font-size: 25px;
  }

  .redirect-link {
    font-size: 40px;
  }

  .images-container > .images {
    width: 100%;
    border-radius: 2px;
  }

  .Location iframe {
    height: 95%;
    width: 95%;
    margin: 0 2.5% 0 2.5%;
  }
}

@media (max-width: 425px) {
  .price-range-feature {
    font-size: 20px;
    justify-content: center;
  }

  .box {
    width: 100%;
    height: 120px;
    margin: 10px;
    border-radius: 5px;
  }

  .text h3 {
    font-size: 23px;
  }

  .base_price {
    margin: 0% 0% 7% 3%;
    font-size: 20px;
  }

  .full_price {
    font-size: 15px;
  }

  .redirect-link {
    font-size: 25px;
  }

  .images-container > .images {
    width: 100%;
    border-radius: 2px;
  }

  .Location iframe {
    height: 100%;
    width: 100%;
    margin: 0%;
  }

  .contact-info {
    border: 2px solid black;
    border-radius: 3px;
  }
  
  .contact-info h2{
    text-align: center;
  }
}

@media (max-width: 375px) {
  .price-range-feature {
    font-size: 15px;
    justify-content: center;
  }

  .box {
    width: 100%;
    height: 110px;
    margin: 10px;
    border-radius: 5px;
  }

  .text h3 {
    font-size: 20px;
  }

  .base_price {
    margin: 0% 0% 5% 3%;
    font-size: 20px;
  }

  .full_price {
    font-size: 15px;
  }

  .redirect-link {
    font-size: 22px;
  }

  .images-container > .images {
    width: 100%;
    border-radius: 2px;
  }

  .Location iframe {
    height: 100%;
    width: 100%;
    margin: 0%;
  }
}

@media (max-width: 320px) {
  .main {
    padding: 5px;
    border-radius: 2px;
    margin-bottom: 10px;
  }

  .Title {
    font-size: 30px;
    margin: 20px 0px 10px 10px;
  }

  .mainIMG {
    width: 20%;
    margin-left: 0%;
  }

  .price-range-feature {
    font-size: 15px;
    justify-content: center;
  }

  .box {
    width: 100%;
    height: 100px;
    margin: 10px;
    border-radius: 3px;
  }

  .text h3 {
    font-size: 17px;
  }

  .base_price {
    margin: 0% 0% 10% 3%;
    font-size: 17px;
  }

  .full_price {
    font-size: 12px;
  }

  .redirect-link {
    font-size: 18px;
  }

  .images-container > .images {
    width: 100%;
    border-radius: 2px;
  }

  .Location iframe {
    height: 100%;
    width: 100%;
    margin: 0%;
  }
}