.navbar {
    display: flex;
    justify-content: center;

}
.navbar-item {
    padding: 0 20px;
    font-size: 20px;
    text-decoration: none;
    color: black;
}
.navbar-item:hover {
    color: #1990FF;
}